@charset "UTF-8";

/* 영화관 상세 정보 페이지(등록 할 수 있는 페이지)*/
div#th_content {
    width: 800px;
    margin-top: 70px;
}

div#th_title {
    text-align: center;
    color: rgb(67, 24, 124);
}

#th_cont {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    border: 2px solid rgb(67, 24, 124);
    border-radius: 5px;
}

#th_cont>p {
    height: 50px;
    padding-top: 25px;
}

#theateradd-btn {
    text-align: center;
}

#th-btn {
    background: rgb(241, 106, 26);
    border: 1px solid rgb(241, 106, 26);
    border-radius: 3px;
    width: 80px;
    height: 35px;
    font-size: 15px;
    color: white;
}