<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.movie.mapper.AdminMapper">
	
	<!-- 현재상영작 가져오기 -->
	<select id="getMovieList" parameterType="String" resultType="com.example.movie.dto.MvOfficialDto">
		select * from mv_official
	</select>
	
</mapper>




