<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.movie.mapper.AdminMapper">
	
	<!-- 현재상영작 가져오기 -->
	<select id="getMovieList" parameterType="String" resultType="com.example.movie.dto.MvOfficialDto">
		select * from mv_official
	</select>
	
	<!-- 영화 상세 페이지 이동 -->
	<select id="movieDetail" parameterType="String" resultType="com.example.movie.dto.MvOfficialDto">
		select * from mv_official where movie_cd=#{movie_cd}
	</select>
	
	<!-- 관람평 목록 가져오기 -->
	<select id="reviewMovie" parameterType="String" resultType="com.example.movie.dto.ReviewMovieDto">
		select * from review_movie where mv_review_moviecd=#{movie_cd} 
	</select>
	
</mapper>




