@charset "UTF-8";

body{
    background-color: white;
}
.busbtn{
	outline : 0;
	width: 234px;
	background: transparent;
	border: 1px solid lightgray;
	cursor: pointer;
}
.btn_nomal:hover{
	background: #f16a1a;
	color: white;
}
.busbtn:hover{
	background: #f16a1a;
	color: white;
}
.btn_nomal {
	border: 1px solid lightgray;
}
.busbtn{
	border: 1px solid lightgray;
}
.wrap{
width: 100%;
background-color: white;
}
nav{
    width: 100%;
    height: 100px;
    background-color: #1d1d1d;
}


.main_wrap{
    width: 1024px;
    height: 622px;
    margin: 60px auto;
    background-color: transparent;
}

.cont_wrap{
width: 100%;
display: flex;

}



.member_top{
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
}
.member_top_btn_wrap{
width: 700px;
margin: 0 auto;
margin-top: 30px;

}
.member_top_btn{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}
.card-body{
	padding-top: 35px;
}
.member_top_btn>a{
    background-color: transparent;
    outline: none;
    padding: 4px;
    width: 200px;
    border: 1px solid gray;
    text-align: center;
    text-decoration: none;
    color: black;
}
input{
    background-color: transparent;
    outline: none;
    border: 1px solid gray;
}
.member_top_btn>a:hover{
    background-color: #f16a1a;
    color: white;
}

.cont_sidebar{

    width: 184px;
    height: 450px;
    background-color: transparent;
}

.queboard{
    width: 800px;
}
.queboard_con{
    width: 800px;
}
tr{
    display: flex;
    justify-content: space-around;
    width: 700px;
}
th{
    width: 17%;
}
td{
    line-height: 60px;
    width: 25%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
footer{
    background-color: #323232;
    width: 100%;
    height: 150px;
}
.tabe_header{
    display: flex;
    justify-content: space-between;
}
.businessbtn{
	padding: 4px;	
	border: 1px solid gray;
	
}
.btn_nomal{

}
.admmin_nav_wrap{
	width: 100%;
	background: #1d1d1d;
	
}

.admin_nav{
	width: 1024px;	
	display: flex;
	margin: 0 auto;
	justify-content: space-around;
	
	
	
}
.admin_nav_item{
	color: white;
	margin-top:40px; 
	
}
.admin_nav_item>a{
	color: white;
}

.card-title{
	
}

  .admin_nav_wrap {
            width: 100%;
            background-color: #1d1d1d;
        }

        .admin_nav {
            margin: 0 auto;
            display: flex;
            width: 1024px;
            justify-content: space-around;
            background-color: #1d1d1d;
        }

        .admin_nav_item {}

        .admin_nav_item>a {
            color: white;
            margin-top: 40px;
        }

        .logo {
            border: 2px solid white;
            display: flex;
        }

        .logo1 {
            font-weight: 600;
        }


        .logo2 {
            border-left: 2px solid #ffffff;
            font-weight: 100;
        }

        .logo1,
        .logo2 {
            color: white;
            padding: 1.2px;
        }

        .underline {
            line-height: 1.2;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
            font-size: 1em;
            font-weight: 600;
            background-image: linear-gradient(transparent calc(100% - 3px), #000 3px);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            transition: background-size 0.8s;
            color: #000;
            cursor: pointer;
            
        }

        @media (min-width: 1000px) {
            .underline {
                font-size: 5em;
            }
        }

        .underline.yellow {
            background-image: linear-gradient(transparent 60%, #f16a1a 40%);
        }

        .underline:hover {
            background-size: 100% 100%;
        }

