@charset "UTF-8";

body {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	letter-spacing: -2px;
}

li {
	list-style: none;
}

a {
	color: black;
	text-decoration: none;
}

h2 {
	margin: 0;
	padding: 0;
}

/* --------------- header --------------- */
#top_wrap {
	z-index: 450;
}

#top_menu {
	height: 90px;
	padding: 20px 200px;
	color: white;
	background: linear-gradient(to bottom, rgba(29, 29, 31, 1) 0%, rgba(0, 0, 0, 0) 100%);
}         

#top_menu>a {
	display: inline-block;
	line-height: 90px;
	margin-left: 30px;
}

#top_menu img {
	width: 150px;
}

#top_menu>button {
	display: inline-block;
	line-height: 90px;
	margin-left: 30px;

}

#top_menu>ul {
	text-align: right;
	display: inline-block;
	float: right;
	margin: 22.5px 0px;
}

#top_menu>ul>li {
	display: inline-block;
	margin: 10px 15px;
	float: left;
	
}

#top_menu>ul>li>a {
	display: inline-block;
	margin: 0;
	padding : 0;
	float: right;
	color: white;
	font-size: 16px;
	font-family: sans-serif;
}

#top_menu>ul>li>button {
	display: inline-block;
	margin: 0;
	padding : 0;
	float: right;
	color: white;
	font-size: 17px;
	background-color: #393939;
	border: none;
	cursor: pointer;
}

#top_menu>ul>.suc {
	display: none;
}

#sub_menu {
	position: absolute;
	top: 130px;
	left: 0;
	display: none;
	text-align: center;
	background-color: #333;
	width: 100%;
}

/* --------------- footer --------------- */
#footer_wrap {
	position: relative;
	left: 0;
	bottom: 0;
	background-color: #323232;
	width: 100%;
	margin-top: 50px;
}

/* --------------- 로그인 창 --------------- */
#business_tap {
	display: none;
}

#login_bg {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 500;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

#login_box {
	width: 700px;
	height: 500px;
	z-index: 501;
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: rgb(255, 255, 255);
	/* 화면 가운데 배치 */
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-transform: translate(-50%, -50%);
}

#login_bg #type{
	display: inline-block;
	width: 700px;
	height: 45px;
	text-align: center;
}

.login_type {
	display: inline-block;
	float: left;
	width: 346px;
	height: 30px;
	border-bottom: 1px solid rgb(51, 51, 51);
	text-align: center;
	margin:0 2px 15px 2px; 
}

#type_user {
	border-bottom: 2px solid #f16a1a;	
}

#type_business {
	border-bottom: 2px solid #717171;
}

.login_tap {
	padding: 30px;	
}

#login_title {
	color: white;
}

.login_box_header {
	background-color: #f16a1a;
	margin-bottom: 15px;
	padding: 15px;
}

.close_btn {
	background: url(https://img.megabox.co.kr/static/pc/images/common/btn/btn-layer-close.png) no-repeat center;
	text-indent: -9999px;
	display: inline-block;
	width: 30px;
	height: 30px;
	cursor: pointer;
	border: 1px solid white;
	border-radius: 3px;
}