@charset "UTF-8";

@font-face {
    font-family: 'NanumBarunpen';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li, ol{
	list-style: none;
}

header {
	z-index: 90;
}

#body_wrap {
	width: 100%;
}

#section_wrap {
	width: 100%;
}

#main_wrap {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	min-width: 1000px;
	height: 950px;
	margin: 0 auto;
	background-image: linear-gradient(rgba(0, 0, 0, 0.91), rgba(0, 0, 0, 0.91)), URL(https://img.megabox.co.kr/SharedImg/2021/12/16/pP1d3DrHmo5d4rcb4ZLoBsMScFRHlbKn_380.jpg);
	background-position: center top;
	background-size: cover;
/* 	opacity: 0.91; */
	z-index: -1;
}

#box_office {
	position: relative;
	font-family: 'NanumBarunpen';
	width: 1000px;
	margin: 0 auto;
	text-align: center;
}

#box-office-title {
	display: inline-block;
	padding-bottom: 2px;
	margin: 169px auto 20px auto;
	border-bottom: 2px solid #666666;
	color: white; 
}

#more-movie {
	position: absolute;
	top: 177px;
	right: 0;
	padding-top: 2px;
}

#more-movie>img {
	background-repeat: no-repeat;
	vertical-align: middle;
}

#box-office-list {
	overflow: hidden;
	margin: 0;
	padding: 0;
	height: 398px;
}

.box-office-list {
	float: left;
	margin-right: 13px;
	border-radius: 3px;
}

#box-office-list img {
	width: 240px;
	height: 345.2px;
	border-radius: 4px;
	
}

.box-office-list:nth-of-type(4) {
	margin-right: 0;
}

.btn_box {
	width: 240px;
	height: 36px;
	margin-top: 10px;
	border-radius: 4px;
	background-color: #037b94;
}

.btn_box a{
	line-height:36px;
	vertical-align: middle;
}

#search-box {
	width: 1000px;
	height: 75px;
	background-color: rgba(44, 44, 44, 0.5);
	margin-top: 50px;
	vertical-align: middle;
	padding-top: 22.5px;
}

.search-cell {
	width: 250px;
	height: 30px;
	float: left;
	border-right: 0.5px solid rgb(44, 44, 44);
}

.search-cell:nth-of-type(4) {
	border: none;
}



/* #section_container { */
/* 	width: 1000px; */
/* 	height: 1500px; */
/* 	border: 1px solid blue; */
/* } */