@charset "UTF-8";

* {
	margin: 0;
	padding: 0
}

.main_wrap {
	width: 1000px;
	height: 100%;
	margin: 60px auto;
}

.container_wrap {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	width: 1000px;
	height: 800px;
}

.insertMovie {
	width: 700px;
}

input, select {
	margin: 5px;
}

#Cd, #dr {
	width: 160px;
}

#Nm, #ac {
	width: 340px;
}

#Dt, #GN, #Tm {
	width: 160px;
}

select {
	width: 164px;
}

table {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.e {
	width: 100px;
}

.nm {
	width: 320px;
}