@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-repeat: no-repeat;
}

a {
	text-decoration: none!important;
}

ul, ol, li {
	list-style: none;
}

#wrap {
	display: flex;
	flex-flow: column;
	margin-top: 90px;
	width: 100%;
	height: 100%;
}

#background {
	width: 100%;
	min-width: 1000px;
	height: 350px;
	background-color: black;
}

#container {
	display: flex;
	flex-flow: column nowrap;
	width: 1000px;
	margin: 0 auto;
}

#bgPoster {
	width: 1000px;
	height: 350px;
	overflow: hidden;
	background-size: cover;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9))
}

#movieInfoDiv {
	padding: 48px 30px 0 30px;
	width: 1000px;
	height: 350px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 1), 13%, rgba(0, 0, 0, 0.7), 74%, rgba(0, 0, 0, 1));
	color: white;
}

#movieInfoWrap {
	width: 760px;
	float: left;
}

#movieDetailTitle {
	margin-left: 5px;
	font-size: 42px;
	margin-bottom: 5px;
}

.watchGrade {
	height: 30px;
}

.detailInfo {
	height: 23px;
}

.detailInfo span {
	font-size: 14px;
	color: #666666;
}

#movieInfoWrap button {
	width: 140px;
	height: 45px;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 17px;
	background-color: #f16a1a;
}

#posterBtn {
	float:left;
	width: 180px;
}

#detailPoster {
	margin: 0 auto;
}

#detailPoster img {
	width: 180px;
	height: 270px;
	margin-top: -8px;
	border-radius: 5px;
}

#menuWrap {
	display: flex;
	flex-flow: column nowrap;
	margin-top: 40px; 
}

#menu {
	width: 1000px;
	height: 70px;
	margin-bottom: 20px;
}

#menu>ul li {
	float: left;
	width: 25%;
	line-height: 70px;
	border-top: 0.5px solid #ebebeb;
	border-bottom: 1.5px solid #f16a1a; 
	box-sizing: border-box;
	text-align: center;
}

#menu>ul li:first-child {
	border: 1.5px solid #f16a1a;
	border-bottom: 0;
}

.theaterList, .review, .stillcut {
	display: none;
}

#theaterTitle {
	display: inline-block;
}

h3 {
	margin: 30px 0 20px 0;
}

.info h3{
	
}

#theaterTitle li:nth-of-type(7n) {
	margin-right: 0;
}

.theaterTitle {
	width: 100px;
	height: 125px;
	float: left;
	margin-right: 50px;
	text-align: center;
}

.titleWrap {
	text-align: center;
	vertical-align: middle;
}

.theaterLogo {
	width: 100px;
	height: 100px;
	border: 1px solid #c8c8c8;
	border-radius: 43px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.theaterLogo img {
}

.reviewTable {
	text-align: center;
}

.reviewTable tr {
	height: 40px;
}

.reviewTable td, th {
	padding: 15px;
}

.content{
	width: 570px;
	padding: 10px;
}

.writer, .writeDate {
	width: 150px;
}

.writeBtn {
	width: 80px;
	height: 35px;
	border: none;
	color: white;
	background-color: #f16a1a;
	border-radius: 5px;
}

.reviewContent {
	text-align: left;
	width: 600px;
}

.stillcut ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.stillcut ul li {
	float: left;
}

.stillcut li>img {
	flex-flow: row wrap;
	width: 300px;
	height: 400px;
}