@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}


/* 후기게시판 header */
#rv_title {
	text-align: center;
	margin-top: 100px;
	color: orange;
}
.rv_header {
    width: 1024px;
    height: 80px;
    margin: 0 auto;
}
.rv_header > .rv_info {
    float: left;
	margin-top: 45px;
	color: gray;
	font-size: 14px;
}


/* 검색창 */
.rv_search {
	position: relative;
	float: right;
	margin-top: 33px;
}
.rv_search > .rv_category {
	border: 1px solid gray;
	background-color: white;
	color: gray;
	width: 70px;
	height: 30px;
	font-size: 12px;
	border: none;
	border-bottom: 1px solid black;
	text-align: center;
}
#search_text {
	border: 1px solid gray;
	width: 200px;
	height: 27px;
	font-size: 12px;
	padding-left: 5px;
	border: none;
	border-bottom: 1px solid black;
}
#search_text:focus {
	outline: none;
}
.fa-search {
	margin-top: 7px;
	position: absolute;
	right: 5px;
}


/* 후기게시판 section */
.rv_section {
    width: 1024px;
    margin: 0 auto;
}
.rv_table {
	width: 1024px;
	border-top: 2px solid;
	border-collapse: collapse;
}
.title-row > th {
	font-size: 15px;
	height: 35px;
	border-bottom: 1px solid rgb(180, 179, 179);
}
.data_row > td {
	height: 60px;
	border-bottom: 1px solid rgb(180, 179, 179);
	text-align: center;
}
td.t_no, td.t_view, td.t_like {
	color:gray;
}
.p-10 {
    width: 10%;
}
.p-30 {
    width: 30%;
}


/* 페이징 버튼 */
.btn-area2 .paging {
	width: 100%;
	margin: 0px auto;
	opacity: 0.8;
	margin-top: 15px;
	text-align: center;
}
.paging .pno {
	background-color: #efefef;
	margin: 2px;
	border: 1px solid #6c6c6c;
	border-radius: 3px;
	line-height: 1.5;
	font-size: 15px;
	height: 20px;
}
.paging>a {
	text-decoration: none;
}
.paging>a:visited {
	color: #575757;
}
.btn-area2 {
	margin: 0px auto;
	width: 1024px;
	text-align: center;
}


/* 글쓰기 버튼 */
.btn-area1 {
	width: 1024px;
	margin: 5px auto;
}
.wr-btn {
	background-color: orange;
	border: none;
	width: 65px;
	padding: 5px 5px;
	font-size: 15px;
	color: #fff;
	float: right;
}