<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.movie.mapper.BoardMapper">
	
	<!-- 영화관 후기 게시글 목록 가져오기 -->
	<select id="getRvList" parameterType="HashMap"
		resultType="com.example.movie.dto.BoardDto">
		<![CDATA[
		SELECT * FROM RLIST
		WHERE RNUM >= (#{num} * #{lcnt}) - (#{lcnt} - 1)
		AND RNUM <= #{num} * #{lcnt}
		]]>
	</select>
	
	<!-- 전체 게시글 수 구하기 -->
	<select id="getrvBoardCnt" resultType="Integer">
		SELECT COUNT(*) FROM RLIST
	</select>
	
</mapper>




