<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.movie.mapper.MemberMapper">
	
	<!-- 이용자 회원 가입 -->
	<insert id="memberInsert" parameterType="com.example.movie.dto.MemberDto">
		insert into member values (#{m_id}, #{m_pw}, #{m_birth}, #{m_tel}, #{m_like}, #{m_email}, #{m_name}, #{m_gender}, default, default, default)
	</insert>
	
	<!-- 이용자 로그인 -->
	<select id="getPw" parameterType="String" resultType="String">
		select m_pw from member where m_id=#{m_id}
		<!-- mapper에서 잡아준 매개변수 = #{ } -->
	</select>
	
</mapper>




