<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.movie.mapper.MemberMapper">

<select id="getList" parameterType="HashMap"
		resultType="com.example.movie.dto.MemberDto">
				<![CDATA[
		SELECT * FROM v_mem
		WHERE ROWNUM >= (#{num} * #{lcnt}) - (#{lcnt} - 1)  
			AND ROWNUM <= #{num} * #{lcnt}
		]]>
	</select>
	
	<!--
	
	<select id="getList" parameterType="HashMap"
		resultType="com.example.movie.dto.MemberDto">
				
		SELECT * FROM member
		WHERE ROWNUM between 1 and 20
	
	</select>
	
	  -->
	

	<select id="getBoardCnt" resultType="Integer">
		SELECT COUNT(*) FROM v_mem
	</select>

	<delete id="memberdelete" parameterType="String">
		DELETE FROM MEMBER WHERE
		M_ID=#{M_ID}
	</delete>
	
	<select id="selectMember" resultType="com.example.movie.dto.MemberDto">
	SELECT * FROM member where m_id = #{m_id}
	</select>


<select id="getsearchBoardCnt" resultType="Integer">
		SELECT count(*) FROM member where m_id = #{m_id}
	</select>

<insert id="">

		


</insert>



</mapper>




