<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.movie.mapper.BusinessMapper">
	
	<!-- 영화관 등록 -->
	<insert id="theaterAdd" parameterType="com.example.movie.dto.TheaterDto">
		INSERT INTO theater
		VALUES (th_code_seq.NEXTVAL, #{b_id}, #{th_name}, #{th_logo}, #{th_location},
		 #{th_introduce}, #{th_areacode}, #{th_parking}, NULL, #{th_tel})
	</insert>
	
</mapper>




